* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */

body {
  width: 100%;
  height: 100%;
  background: #f4f9f9;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239ed2ff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Header Styles */

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #00274a;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  font-size: 68px;
  margin-top: 25px;
}

hr {
  border: 0;
  height: 1px;
  width: 80%;
  align-self: center;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/* Logo Ctr */

.logo-ctr {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-ctr > a {
  padding: 10px;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; /* logo will be able to have animation */
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(
    360deg
  ); /* logo will rotate when mouse hovers over the logo */
}

/* main ctr */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 75%;
  border: 3px solid #00274a;
  box-shadow: 5px 10px 18px #888888;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f9f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239ed2ff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#about-me,
#contact-me {
  display: flex;
  margin: 30px;
  width: 75%;
  border: 3px solid #00274a;
  box-shadow: 5px 10px 18px #888888;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f9f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239ed2ff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Welcome Section */

.austin-img {
  width: 50%;
  height: inherit;
  margin: 40px;
  max-height: 485px;
  min-width: 450px;
}

/* About Me section */

.portrait-ctr {
  width: 30%;
  height: inherit;
  margin: 45px 20px;
}

.portrait {
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: auto;
}

.about-me {
  width: auto;
}

.text-ctr {
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-ctr > h2 {
  font-size: 54px;
  margin-left: 35px;
}

.text-ctr > p,
.text-ctr > span,
.text-ctr > a {
  font-size: 34px;
  margin-left: 50px;
}

.hobbies-list {
  width: 35%;
  align-self: center;
  text-align: center;
  font-size: 34px;
}

/* contact me section */

.social-links {
  display: flex;
  flex-direction: column;
}

.link-ctr {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.link-ctr span {
  font-size: 38px;
  padding: 15px;
}

.link-ctr span a {
  text-decoration: none;
}

.social-icons {
  display: flex;
  list-style: none;
}

.social-icons li:hover {
  color: #00274a;
  background: #9ed2ff;
  border-radius: 5px;
}

.social-media-img {
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 5px;
  transition: 0.3s;
}

.social-media-img:hover {
  color: #00274a;
  background: #9ed2ff;
  border-radius: 5px;
  padding: 10px;
}

/* footer  */

footer {
  display: block;
  width: 100%;
  background: #00274a;
  text-align: center;
}

footer > h3 {
  font-size: 18px;
  padding: 40px 0px;
  color: #9ed2ff;
  line-height: 100%;
}

/* links */

.text-ctr > p > a,
.text-ctr span > a {
  padding: 5px;
  transition: 0.3s;
  color: #2d79c6;
}

.text-ctr > p > a:visited,
.text-ctr span > a:visited {
  color: rgb(125, 85, 206);
}

.text-ctr > p > a:hover,
.text-ctr span > a:hover {
  color: #00274a;
  background: #9ed2ff;
  border-radius: 5px;
}

.text-ctr > p > a:active,
.text-ctr span > a:active {
  background: #00274a;
  color: #9ed2ff;
  border-radius: 5px;
}

/* resize */

@media screen and (max-width: 1000px) {
  .logo-ctr h1 {
    font-size: 36px;
  }

  .text-ctr h2 {
    font-size: 24px;
  }

  .text-ctr p,
  .text-ctr span,
  .link-ctr span,
  .hobbies-list {
    font-size: 18px;
  }

  .social-media-img {
    width: 40px;
    height: 40px;
  }
}
